@charset "utf-8";
.l-l-rc.logotipo, .login, .cfm, .strcrd{
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
}
.finishInitTime {
    background: #4CAF50;
    color: #FFF;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
}
.xxx, .xxx > thead > tr, .xxx > thead > tr > th, .xxx > tbody > tr, .xxx > tbody > tr > td {
    border: 1px solid #DDD;
}
.cfm {
    cursor: pointer;
}
.col.s12.accessTo {
    padding: 0 0 30px !important;
}
.FilterData {
    margin-top: 10px;
}
.sjtitle {
    text-align: center;
    padding: 15px !important;
    font-size: 20px;
    line-height: 1.5em;
}
.notas {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}
.rtg-title {
    background: #EEE;
    margin: 5px 0;
    padding: 10px !important;
    border: 2px solid #fafafa;
    text-align: center;
    font-size: 16px;
}
.calculate {
    padding: 20px !important;
    font-size: 16px;
    font-weight: bold;
    border-right: 5px solid;
    color: #424242;
}
.calculate[type="suma"] {
    border-right-color: #4CAF50;
}
.calculate[type="resta"] {
    border-right-color: #F44336;
}
.calculate[type="totalapagar"] {
    border-right-color: #3F51B5;
    margin-top: 15px;
}
.selectablable {
    background: #3F51B5 !important;
    color: #FFF;
}

.dedutable, .pertable {
    padding-top: 10px;
}
.cfm.active {
    background: #999 !important;
    color: #FFF;
}
.cfm:hover {
    background: #9E9E9E !important;
    color: #FFF;
}
.genNomina {
    cursor: pointer;
    font-size: 19px;
}
.genNomina#estajo {
    color: #3F51B5;
}
.genNomina#semana {
    color: #009688;
}
.genNomina#quince {
    color: #607D8B;
}
.preciomTb {
    text-align: center;
    font-size: 26px;
}
.resultadoPersona {
    padding: 10px;
	cursor: pointer;
}
span.character-counter {
    margin-top: -50px;
    color: #AAA;
}
.coverjm {
    width: 245px;
    margin: auto;
}
.posventa{
    display: none;
}
.strcrd {
    margin: 15px 0;
    padding: 20px 0 !important;
    cursor: pointer;
}
.strcrd:hover {
    background: #DDD;
}
.head-over {
    z-index: 1001 !important;
}
.sidenav-overlay {
    z-index: 1000 !important;
}
.base.container {
    margin-top: -18px !important;
}
.datosFormalizarC:hover{
    background: #eeeeee !important;
}
.jutify-align{
    text-align: justify;
}
.restCover {
    font-size: 18px;
    padding-top: 19px !important;
}
.addxm {
    margin-top: 26px;
}
.bolder:disabled {
    color: #222 !important;
}
.height400{
    height: 400px;
}
.height250{
    height: 250px;
}
.smblack {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}
.btnchange {
    width: 40px;
    height: 40px;
    padding-top: 6px !important;
    color: #FFF;
    background: #3F51B5;
    padding: 2px;
    text-align: center;
    margin-left: 5px;
}

.stp.row {
    margin-bottom: 0 !important;
}

.workingon {
    margin-top: -5px;
    font-weight: bold;
}
.container.loader {
    margin-top: 200px;
    background: #FFF;
    padding: 45px;
    text-align: center;
    font-size: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.addPagoMixto{
    display: none;
}
.texter {
    padding: 15px 0 8px !important;
    font-size: 16px;
}
.npadding {
    padding: 5px 0 !important;
}
.posventa, .searchEngine {
    overflow: hidden;
}
.producted.error {
    background: #FFCDD2;
}
.posventa{
    height: auto !important;
}
.texter.vendedor {
    padding-top: 1px !important;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}
.margintop10{
    margin-top: 10px;
}
.margintop20{
    margin-top: 20px;
}
.marginbottom20 {
    margin-bottom: 20px;
}
.pos-actual {
    height: 40px;
    padding-top: 5px !important;
    display: none;
}
.c-search {
    margin: 0px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.login {
    width: 90%;
    margin-top: 70px;
    position: absolute;
    left: 50%;
    margin-left: -45%;
}
.tg-title {
    font-size: 22px;
}
.login.intro {
    height: 130px;
    margin-top: -65px;
}
.l-c-login > * {
    width: 100%;
}
.logotipo.grande {
    margin-top: 0px !important;
    opacity: 1 !important;
}
.l-l-rc.logotipo {
    margin-top: 40px;
    opacity: 0.6;
    cursor: pointer;
}
.l-content {
    overflow: hidden;
    display: none;
}
.l-l-rc.logotipo:hover {
    opacity: 1;
}
.l-c-input > label {
    width: 200px;
    left: 50%;
    margin-left: -100px;
    text-align: center;
}
.l-c-input > label.active {
    transform: translateY(-14px) scale(1) !important;
}
.bottom.no-fixed {
    position: initial;
}
.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: #666;
}
@-webkit-keyframes autofill {
    to {
        color: #424242;
        background: #E0E0E0;
    }
}
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
.toast {
    text-align: center !important;
    display: block !important;
}
.sfhui > th {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    background: #eee;
}
.b-title {
    font-size: 38px;
    color: #666;
}
.cover {
    overflow: hidden;
    overflow-x: scroll;
}
.openCard {
    cursor: pointer;
}
.m-return > button {
    width: 100%;
}

.smnb > button {
    width: 100%;
}
.m-content > .input-field {
    margin: auto !important;
}
.m-return, .smnb {
    margin-top: 10px;
}
.c-bitacora {
    margin-top: 8px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.c-bitacora > button {
    width: 100%;
    margin-bottom: 10px;
}
.c-menu {
    float: left;
    color: #9E9E9E;
    padding: 8px 5px 0px 0px;
}
.H-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 6px 0;
    z-index: 1000;
}
.dropdown-content > li {
    padding: 4px 10px;
}
.H-fixed > .container {
    overflow: hidden;
}
.c-logo {
    float: left;
}
.c-title, .c-nombre {
    float: left;
    padding: 8px 10px 4px;
    font-size: 16px;
    color: #888;
}
input#looking:focus, input#buscandoPor:focus, input#codeEmploy:focus, input#username:focus, input#password:focus, input#ref:focus {
    border-bottom: 1px solid transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.pos-actual > .breadcrumb {
    color: #666 !important;
}
.pos-actual > .breadcrumb:before {
    color: #666 !important;
    margin-top: -4px;
}
.c-nombre {
    float: right !important;
}
.c-perfil.circle {
    float: right;
    cursor: pointer;
}
.searchEngine, .posventa {
    margin-top: 70px;
}
.c-perfil {
    overflow: hidden;
}
.c-search > label, .buscando > label, .codeEmploy > label {
    color: #888;
    padding-left: 5px;
    padding-top: 3px;
}
.buscando > label{
    padding-left: 15px;
}
.looking, .buscandoPor, .codeEmploy, .username, .password, .ref {
    border-bottom-color: #eeeeee !important;
    color: #616161 !important;
    background: #D5D5D5 !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    border-radius: 3px !important;
    margin-top: 9px !important;
    height: 36px !important;
    padding-left: 15px !important;
    width: calc(100% - 15px) !important;
}
.buscandoPor, .codeEmploy, .username, .password{
    background: #E0E0E0 !important;
}
.ref{
    background: #EEE !important;
}
.mainpos {
    background: #FFF;
    margin-top: -2px;
    z-index: 1;
    position: absolute;
    width: 100%;
    left: 0;
}
.noinput {
    margin: 0;
}
.refe > label {
    padding-top: 9px;
}

.ovhidden{
    overflow: hidden;
    width: 100% !important;
}
.t2 {
    margin: 9px 0;
}
.c-search > label.active, .buscando > label.active, .codeEmploy > label.active, .refe > label.active  {
    color: transparent !important;
    transform: translateY(-16px) scale(1) !important;
}
.datosNominas {
    margin-top: 13px !important;
}
.n-bold {
    border-bottom: 1px solid #DDD;
    font-weight: bold;
    text-align: center;
}
.product{
    cursor: pointer;
}
.producted {
    margin: 10px 0;
    background: #EEE;
}
.producs {
    height: 46px;
}
.cmxd {
    padding: 11px 5px !important;
    text-align: center;
    font-size: 16px;
}
.cmxd.nombre {
    text-align: left;
}
.cmxd.close {
    padding: 0 5px !important;
    margin-top: 9px;
}
.strproductosd{
    display: none;
    background: #EEE;
    padding: 0.75rem !important;
    -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.15);
    -o-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.15);
}
label {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}
.autocomplete-content {
    margin-top: 46px;
    display: block;
    opacity: 1;
    position: absolute;
    margin-left: 12px;
}
.contenidoReporte {
    margin-top: 50px;
}
.yyy {
    width: 100% !important;
}
.desrjd {
    padding: 10px !important;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}
.sSaldoTitle {
    font-size: 21px;
    text-align: right;
}
.sSaldoAmount {
    font-size: 40px;
    text-align: right;
}
.smvalue.smnb {
    margin-top: 23px;
}
.saldoPdte {
    font-size: 30px;
}
.jmnhide{
    display: none;
}
.bolder{
    font-weight: bold;
}
@media only screen and (min-width:993px){
    div#toast-container {
        left: 50% !important;
        margin-left: -25% !important;
        right: unset !important;
        width: 50% !important;
    }
    .looking {
        width: calc(100% - 30px) !important;
    }
    .datosNominas {
        margin: 13px 15px 13px 0 !important;
        width: 1700px !important;
        padding-right: 10px !important;
    }
    .n-bold {
        text-align: right;
    }
	.login {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 400px;
		height: 320px;
		text-align: center;
		margin-left: -200px;
		margin-top: -160px;
	}
}